@import '../../style/font.style.scss';
@import '../../style/colors.style.scss';
@import '../../style/common.style.scss';

.t-explore {
  margin-top: 200px;

  &__satellite {
    display: flex;
    justify-content: space-between;

    &__image {
      margin-top: 160px;
      width: 450px;
    }
  }

  &__quote {
    max-width: 400px;
  }

  &__earth {
    width: 100%;
    position: relative;
    margin-top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__quote-phrase {
      max-width: 380px;
      align-self: flex-start;
      @include default-quote-phrase-style();
    }

    &__title {
      @include default-title-style();
      padding: 100px 6% 0 6%;

      font-size: $font-80px;
      text-align: center;
    }

    &__astronaut {
      position: absolute;
      top: 240px;
      right: 34%;

      height: 300px;
    }

    &__image {
      position: absolute;
      width: 40%;
      right: -9%;
    }

    &__buttons {
      display: flex;
      margin-top: 16px;
    }

    &__button:first-child {
      margin-right: 16px;
    }
  }
}
